<!DOCTYPE html>
<html>
  <head>
    <title>EraBnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script>
      // window.mapBoxAccessToken = "<%#= Rails.application.credentials.mapbox[:access_token] %>"
      window.modernSunsetPic = '<%= image_url('modernsunset.jpg') %>'
      window.homeInteriorPic = '<%= image_url('home-interior.jpg') %>'
      window.modernSwimPoolNightPic = '<%= image_url('modern_swimpool_night.jpg') %>'
      window.warmInterior70sPic = '<%= image_url('matthias-iordache-MVd4rDf4O2Q-unsplash.jpg') %>'
      window.relaxBeachPlacePic = '<%= image_url('relaxing-place-near-exit-to-terrace.jpg') %>'
      window.stylishModernStairsPic = '<%= image_url('stylish-modern-black-and-white-architecture.jpg') %>'
      window.hugoSousaPic = '<%= image_url('hugo-sousa-m7_lccaGaYA-unsplash.jpg') %>'
      window.orlovaMariaPic = '<%= image_url('orlova-maria-b37mDyPzdJM-unsplash.jpg') %>'
      window.snowyCountryHomePic = '<%= image_url('snowy-country-house.jpg') %>'
      window.kitchenInteriorPic= '<%= image_url('kitchen-interior1.jpg') %>'
      window.redAirbnbLogo = '<%= image_url('icons8-airbnb-48.png') %>'
      window.magnifyingGlass = '<%= image_url('icons8-magnifying-glass-64.png') %>'
      window.userCircle = '<%= image_url('user-male-circle.png') %>'
      window.menu = '<%= image_url('icons8-menu-50.png') %>'
      window.mountains ='<%= image_url('clip-983.png') %>'
      window.flexible = '<%= Listing.all.map {|listing| listing.id}.sample %>'
    </script>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
